<div fxLayout="column" fxLayoutAlign="center center" class="am-container">

  <div fxLayout="column" fxLayoutAlign="start start" class="am-content">

    <span class="code-tag"><i> &lt;h1&gt; </i></span>

    <span class="am-h1">
      About Me
    </span>

    <span class="code-tag"><i> &lt;/h1&gt; </i></span>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;p&gt; </i></span>

    <span class="am-p">
      Thanks 😊, you have passed the homepage and are curious to know me.
    </span>

    <span class="code-tag"><i> &lt;/p&gt; </i></span>

    <div class="am-separator"></div>

    <div fxLayout="row" fxLayoutAlign="start center" class="am-warning">
      <mat-icon class="am-warning-icon">warning</mat-icon>
      <span class="am-warning-span">
        The reading will be long, verbose and boring,
        but I'll help you along the way by coloring and bolding the important parts.
      </span>
    </div>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;p&gt; </i></span>

    <span class="am-p">
      Please to meet you, my name is
      <em class="am-soft-empathy">Francesco Clemeno</em>, but the whole world calls me
      <em class="am-soft-empathy">Ciccio.</em><br>
      Who is the real me? Both of them.<br>
      I am both the serious and reliable professional Francesco and the joker Ciccio.
      I am both the engineer Francesco and the samurai Ciccio.
      Francesco listens to classical music and Ciccio screams Italian songs on the beach.<br>
      I could go on like this for a long time, but if you've come to this site, you're probably interested
      in the professional above all else. So let's start with a resume-style bio short.
    </span>

    <span class="code-tag"><i> &lt;/p&gt; </i></span>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;h2&gt; </i></span>

    <span class="am-h2">
      Professional Bio
    </span>

    <span class="code-tag"><i> &lt;/h2&gt; </i></span>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;p&gt; </i></span>

    <span class="am-p">
      I am a <span class="am-empathy">Front End Web Developer</span>
      and at the moment I work in the
      development team of the Marketing Platform (Forza Unicorni🦄) in <em class="am-soft-empathy">Jakala</em>.<br>
      I use <em class="am-soft-empathy">Angular</em> at work, but I spend practically all day, every day,
      experimenting with HTML, CSS, JavaScript, and any modern framework that comes into my hands.<br><br>
      Almost for fun, I attended a <span class="am-empathy">UX Design</span> course and <em class="am-soft-empathy">a love was born.</em>
      I learned the importance of product perception outside the developer sphere.
      The feelings and motivations that drive the use of a computer tool that is not
      just a programming exercise, but an artifact that has to solve a problem of a
      bored or angry person in front of a screen.<br>
      Finally, I must make a special mention to <em class="am-soft-empathy">Altilia</em>, the Cosenza startup that took me as a recent graduate and taught
      me to be a professional. From her I learned everything about my toolbox: the importance of the Clean Code, the utopia
      of Agile and the love of having coffee with colleagues. <em class="am-soft-empathy">The first day of work they asked me: "Do you like the front end?"
      and I said NO.</em> Luckily they didn't listen to my answer and made me sweat behind buttons and styles, because now it has become my passion.<br>
      I will never stop saying <em class="am-soft-empathy">grazie</em>.<br>
      Almost forgot...<br>
      In 2018 I got <em class="am-soft-empathy">the qualification to the profession of Engineer</em> after having obtained <em class="am-soft-empathy">the Master's Degree
      in Computer Engineering</em>... I have a certification as <em class="am-soft-empathy">BVOP Project Manager</em>... I am a <em class="am-soft-empathy">Life Coach</em>...
      And a thousand other things... Simple off-track which I like to do to avoid channeling my vision into a single professional distortion.
    </span>

    <span class="code-tag"><i> &lt;/p&gt; </i></span>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;h2&gt; </i></span>

    <span class="am-h2">
      Personal Bio
    </span>

    <span class="code-tag"><i> &lt;/h2&gt; </i></span>

    <div class="am-separator"></div>

    <span class="code-tag"><i> &lt;p&gt; </i></span>

    <span class="am-p">
      I have tried a thousand times to write a summary of my life that did not result in a psychological essay that did not involve hours of reading.<br>
      I will describe myself with a simple quote that perfectly describes my vision of life with the promise that one day I will complete this section.<br>
      <br>
      <span class="am-citation">
        "Gatsby believed in the <span style="color: #00E676;">green light</span>, the orgastic future that year by year recedes before us.<br>
        It eluded us then, but that’s no matter. Tomorrow we will run faster, stretch out our arms farther...<br>
        And one fine morning. So we beat on, boats against the current, borne back ceaselessly into the past."
      </span>
    </span>

    <span class="code-tag"><i> &lt;/p&gt; </i></span>

  </div>

</div>
