@import "../../../colors.scss";
@import "../../../writing.scss";

.h-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.h-separator {
  height: 20px;
}

.h-h1 {
  color: $vanilla;
  font-size: 50px;
  line-height: 55px;
  font-weight: bold;
  margin-left: 10px;
}

.h-p {
  color: $vanilla;
  font-size: 18px;
  margin-left: 10px;
}

.h-button {
  background: $glitter;
  color: $vanilla;
  margin: 10px;
}
