<div fxLayout="column" fxLayoutAlign="center center" class="h-container">

  <div fxLayout="column" fxLayoutAlign="start start">

    <span class="code-tag"><i> &lt;h1&gt; </i></span>

    <span class="h-h1">
      Hi,<br>
      I'm Francesco Clemeno,<br>
      {{jobs[currentJobIndex]}}
    </span>

    <span class="code-tag"><i> &lt;/h1&gt; </i></span>

    <div class="h-separator"></div>

    <span class="code-tag"><i> &lt;p&gt; </i></span>

    <span class="h-p">
      <em> One, No One and One Hundred. </em>
    </span>

    <span class="code-tag"><i> &lt;/p&gt; </i></span>

    <div class="h-separator"></div>

    <span class="code-tag"><i> &lt;button&gt; </i></span>

    <button mat-flat-button
            (click)="goAboutMe()"
            class="h-button">
      About Me
    </button>

    <span class="code-tag"><i> &lt;/button&gt; </i></span>

  </div>

</div>
