<div fxLayout="column" fxLayoutAlign="center center" class="cm-container">

  <div fxLayout="column" fxLayoutAlign="start start">
    <span class="code-tag"><i> &lt;h1&gt; </i></span>

    <span class="cm-h1">
      Contact Me
    </span>

    <span class="code-tag"><i> &lt;/h1&gt; </i></span>

    <div class="cm-separator"></div>

    <span class="code-tag"><i> &lt;button&gt; </i></span>

    <div fxLayout="row" fxLayoutAlign="start center" class="cm-button">
      <img src="../../../assets/linkedin.png" class="cm-button-icon">
      <span class="cm-button-span">Linkedin</span>
    </div>

    <span class="code-tag"><i> &lt;/button&gt; </i></span>

  </div>

</div>
